  .destination-container{
	height: auto;
	width:100%;
  height: 68vh;
	position: relative;
  overflow: hidden;
}

.destination-container img{
	height:102vh;
	width: 100%;
	display: block;
  object-fit: cover;
  position: relative;
  bottom: 80px;
}

.destination-text-overlay{
  position: absolute;
  top: 330px;
}

 #text{
  
  h2{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100vw;
    color: #fff;
  }
  p{
    text-align: center;
    font-size: 15px;
    color: #fff;
  }
}

  .destination-text-overlay .destination-form{
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .destination-form input{
    width: 370px;
    border-radius: 6px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    border: none;
    offset: none;
    height: 50px;
    padding-left: 20px;
  }

   .destination-form button{
    background-color: #4cae4c;
    height: 50px;
    width: 120px;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
  }


  #preloader { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    position: relative;
    top: 70px;
    }

    

    #preloader img{
     height: 150px;
     width: 150px;
     z-index: 1000;
     margin-bottom: 200px;
    }

  .popular-destinations h2{
    font-size: 30px;
      margin-top: 50px;
  }

  .pagination-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }


  .page-item:active{
    border: none;
    offset: none;
  }

  

  .content-container{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    gap: 50px;
    }

  .destination-tiles {
    width: 100%;
    height: auto;
    font-size: 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
    
    .tile {
      display: inline-block;
      text-align: left;
      opacity: .99;
      overflow: hidden;
      position: relative;
      border-radius: 3px;
      box-shadow: 0 0 20px 0 rgba(0,0,0,.05);
  
      .tile:hover{
        transform: translateY(-5px);
      }
      
      &:before {
        content: '';
        background: linear-gradient(
          to bottom,
          rgba(0,0,0,0) 0%,
          rgba(0,0,0,0.7) 100%
        );
        width: 100%;
        height: 50%;
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 2;
        transition-property: top, opacity;
        transition-duration: 0.3s;
      }
  
      
      img {
        display: block;
        width: 320px;
              height: 350px;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
      }
      
      .details {
        font-size: 16px;
        padding: 20px;
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3;
        
        span {
          display: block;
          opacity: 1;
          position: relative;
          top: 0px;
          transition-property: top, opacity;
          transition-duration: 0.3s;
          transition-delay: 0s;
        }
        
        .title {
          line-height: 1;
          font-weight: 600;
          font-size: 17px;
          text-align: left;
        }
        
        .info {
          line-height: 1.2;
          margin-top: 5px;
          font-size: 12px;
        }
      }
      
      &:focus,
      &:hover {
        
        &:before,
        span {
          opacity: 1;
        }
        
        &:before {
          top: 50%;
        }
        
        span {
          top: 0;
        }
        
        .title {
          transition-delay: 0.15s;
        }
        
        .info {
          transition-delay: 0.25s;
        }
      }
    }
  }

  @media only screen and (max-width:480px) { 

    .main-container{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: auto;
    }
    
    .destination-container{
      width: 100%;
      height: 29vh;
    }

    .destination-container img{
      height: 55vh;
    }

    .destination-text-overlay{
      position: absolute;
      top: 60%;
      z-index: 1000;
      padding-left: 45px;
    }

    #text{
  
      h2{
        font-size: 14px !important; 
        width: 110%;
        position: relative;
         top: 40px;
         left: 10px;
      }
      p{
        text-align: center;
        font-size: 9px !important;
        position: relative;
        top: 30px;
        left: 20px;
      }
    }

    .destination-form{
      position: absolute;
      left: 10px;
      display: flex;
      justify-content: center;
      gap: 20px;
    }

    .destination-form input{
      width: 170px;
      border-radius: 6px;
      background-color: #fff;
      color: #333;
      font-size: 9px;
      border: none;
      offset: none;
      height: 25px;
      padding-left: 20px;
      border-radius: 3px;
    }

    .destination-form button{
      background-color: #4cae4c;
      height: 25px;
      width: 80px;
      border-radius: 6px;
      cursor: pointer;
      font-size: 9px;
      position: relative;
      left: -10px;
      border-radius: 3px;
    }

    .popular-destinations{
      flex-direction: column;
      width: 100%;
    }

    .popular-destinations h2{
      font-size: 17px;
    }

    .content-container{
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .destination-tiles{
      width: 100%;
    }

    .tile{
      width: 330px;
      margin-left: -15px;
    }

    .tile img{
      width: 340px !important;
    }
   
    
    #text h1{
        font-size: 15px !important;
    }

    p{
      font-size: 12px !important;
    }

    #text{
      position: relative;
      bottom: 20px;
    }

    .destination-Footer{
      width: 100%;
    }
    
    .pagination li{
      font-size: 12px;
    }

    
  }